# Firebase
GoogleService-Info.plist
./RockCrabQuiz/GoogleService-Info.plist

# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# Logs
*.log

# 기타 민감정보
*.env